DAA\Fibonacci.class
DAA\Knapsack.class
DAA\NQueens.class
DAA\SimpleHuffmanCode$Node.class

ML\ClassifyEmails.ipynb
ML\ClassifyEmails.pdf
ML\Diabetes.ipynb
ML\Diabetes.pdf
ML\UberPrice.ipynb
ML\UberPrice.pdf